<p>Generate an image of the courier's route on the map</p>
<!-- Форма для генерации маршрута курьера на карте -->
<form action="/generate_courier_route" method="POST" enctype="multipart/form-data" id="form6">
    <div class="form-group">
        <textarea name="coordinates" class="form-control" id="coordinates" cols="30" rows="5" placeholder="Array of coordinates in the format (latitude,longitude). E.g. [(55.805674,37.594479),(55.805674,37.594479), ...]"></textarea><br />
        <button type="submit" class="btn btn-lg btn-block btn-primary" id="submitButton6">Submit</button>
    </div>
</form>