<p>Read JSON data from a file and extract specific fields values</p>
<!-- Форма для парсинга JSON -->
<form action="/parse_json" method="POST" enctype="multipart/form-data" id="form5">
    <div class="form-group">
        <input type="text" class="form-control" name="array_name" id="array_name" placeholder="Array name">
        <input type="text" class="form-control" name="cnvrt" id="cnvrt" placeholder="Comma separated list of JSON keys"><br />
        <input type="file" class="form-control-file" name="file" id="file"><br />
        <button type="submit" class="btn btn-lg btn-block btn-primary" id="submitButton5">Submit</button>
    </div>
</form>