<p>Сompute the similarity score between two pieces of text</p>
<!-- Форма для вычисления похожести текстов -->
<form action="/compute_text_similarity" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <textarea name="first_input_text" class="form-control" id="first_input_text" cols="30" rows="1" maxlength="5000" placeholder="First input text" required></textarea>
        <textarea name="second_input_text" class="form-control" id="second_input_text" cols="30" rows="1" maxlength="5000" placeholder="Second input text" required></textarea><br />
        <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
    </div>
</form>