<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <title>QA Mega App</title>
    <style>
        .btn {
            position: absolute;
            bottom: 10px;
            left: 20px;
            width: calc(100% - 40px);
        }
        .form-group {
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    {% include "components/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            {% include "components/sidebar.html" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% include "components/ticker.html" %}
                {% include "components/heading_title.html" %}
                <div class="container">
                    {% block content %}
                    {% endblock content %}
                </div>
            </main>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/formValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newsLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imageOpen.js') }}"></script>
</body>
</html>