{% extends 'base.html' %}

{% block content %}
  {% include "components/category_filter.html" %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🔑 Password generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/password_generator.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">📜 CSV generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/csv_generator.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🤥 Fake data generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/fake_data_generator.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🗃️ File generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/files_generator.html" %}
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🤏 JSON parser</h4>
      </div>
      <div class="card-body">
        {% include "forms/json_parser.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🗺️ Courier route generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/courier_route_generator.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🔗 Links checker</h4>
      </div>
      <div class="card-body">
        {% include "forms/links_checker.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🖼️ Image scraper</h4>
      </div>
      <div class="card-body">
        {% include "forms/img_scraper.html" %}
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">📑 PDF text extractor</h4>
      </div>
      <div class="card-body">
        {% include "forms/pdf_text_extractor.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🔍 Text Similarity tool</h4>
      </div>
      <div class="card-body">
        {% include "forms/text_similarity_tool.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🗞️ Random text generator</h4>
      </div>
      <div class="card-body">
        {% include "forms/random_text_generator.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">📜 CSV creator/updater</h4>
      </div>
      <div class="card-body">
        {% include "forms/csv_creator_and_updater.html" %}
      </div>
    </div>
  </div>
  
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🗓️ Date difference calc</h4>
      </div>
      <div class="card-body">
        {% include "forms/date_calc.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">🗓️ Date substractor</h4>
      </div>
      <div class="card-body">
        {% include "forms/date_subtractor.html" %}
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">💌 Mocking request</h4>
      </div>
      <div class="card-body">
        {% include "forms/mock_form.html" %}
      </div>
    </div>
  </div>
    
{% endblock %}