<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <br>
        <div class="row">
            <dt class="col-sm-3">
                <h6 class="text-muted">
                    <span>LAST QA NEWS:</span>
                </h6>
            </dt>
            <dd class="col-sm-9">
                <button class="btn btn-outline-info btn-lg" id="showNewsButton">Show</button>
            </dd>
        </div>
        {% include "components/news_list.html" %}
    </div>
</nav>